.card-input-element {
  +.bg-dark {
    background-color: #2d2d2d!important;
    border-width: 2px;
  }
  +.card:hover {
    cursor: pointer;
    border: 2px solid #ffff;
  }
}

.card-input-element:disabled {
  +.card:hover {
    cursor: default;
    border: 2px solid rgba(0,0,0,.125);
  }
  +.card {
    color: #a8a9b4;
  }
}

.card-input-element:checked {
  +.card {
    border: 2px solid #149ddd;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
  }
}