.movie-card {
  background-color: #2d2d2d!important;
  color: white;
  height: 375px;
  .card-img-top{
    height: 257px;
    padding: 2px;
  }
  .card-title {
    font-size: 17px!important;
  }
  &:hover {
    background-color: white!important;
    color: black;
    text-decoration: none!important;
  }
  .price{
    font-size: 12px;
  }
}

.movie-card-link:hover {
  text-decoration: none;
}