.scroll-to-top {
  z-index: 999;
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: block;
  cursor: pointer;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.3s !important;

  svg {
    margin-bottom: 1px;
    font-size: 125%;
  }
}

.showScrollBtn {
  transform: translateY(0);
  opacity: 1;
}