#cart {
  .nav-link {
    color: white;
    &::after{
      content: none;
    }
  }
  .header {
    font-size: 10px;
    padding-bottom: 5px;
  }
  .item {
    padding: 7px;
    width: 15rem;
    font-size: 12px;
    .col-md-8 {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}