#header {
  margin-bottom: 65px;
  .nav-link {
    color: #a8a9b4;
    &:hover {
      color: #ffff;
    }
    &.active {
      color: #ffff;
    }
  }
  .navbar-brand{
    font-family: 'Comic Neue';
    color: #0069d9;
  }
  .bg-dark {
    background-color: #2d2d2d!important;
  }
  .shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.50) !important;
  }
}