.dropdown-menu {
  &.show {
    background-color: #2d2d2d !important;
  }
}

.dropdown-item {
  color: #a8a9b4!important;
  &:hover{
    background-color: inherit!important;
    color: #ffff!important;
  }
}
#basic-nav-dropdown {
  color: #ffff!important;
  &::after{
    content: none!important;
  }
}